<!DOCTYPE html>
<html>
<head>
  <title>My Supabase App</title>
</head>
<body>
  <h1>Data from Supabase</h1>
  <ul>
    <% data.forEach(book => { %>
      <li>
        Title: <%= book.title %><br/>
        Read Date: <%= book.read_date %><br/>
        Rating: <%= book.rating %><br/>
        Review: <%= book.review %>
      </li>
    <% }); %>
  </ul>
</body>
</html>
